.paragraph{
	padding-left:  10%;
	padding-right:  10%;
}

.paragraph {
    font-size: 24px;
}

.list_item{
	padding-right: 10%;
}

.pub-list li {
    font-size: 24px;
    margin-bottom: 4px; 
}

.footer { 
    position: fixed; 
    bottom: 0; 
    left: 0;
}

input:checked + div { display: none; }
