.paragraph{
	padding-left:  10%;
	padding-right:  10%;
}

.paragraph {
    font-size: 24px;
}

.h2 {
	font-size: 48px;
}

.h3 {
	font-size: 36px;
}

.list_item{
	padding-right: 10%;
}

.pub-list li {
    font-size: 24px;
    margin-bottom: 4px; 
}

.updates-list li {
    font-size: 24px;
    margin-bottom: 1px; 

.footer { 
    position: fixed; 
    bottom: 0; 
    left: 0;
}

#toggle-older:checked ~ .older {
  display: none !important;
}

label[for="toggle-older"] {
  cursor: pointer;
}
/* 
input:checked + div { display: none; } */
